* {
    font-family: 'Poppins', sans-serif !important;
    background-color: #001220;
    text-decoration: none;
    transition-duration: 0.4s;
    margin: 0;
    padding: 0;
    color: white;
    user-select: none;
}

#header {
    position: fixed;
    width: 100%;
    z-index: 3;
}

#header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

#header li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 18px;
}

#header li a:hover {
    color: #0099ff;
}

#header #name {
    display: block;
    float: left;
    font-size: 2em;
    padding: 22px 30px;
    text-decoration: none;
}

#header #name:hover {
    color: #0099ff;
}

#header #menu{
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

#header .menu-icon {
    cursor: pointer;
    float: right;
    padding: 40px 20px;
    position: relative;
    user-select: none;
}

#header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

#header .menu-icon .navicon:before,
#header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

#header .menu-icon .navicon:before {
    top: 5px;
}

#header .menu-icon .navicon:after {
    top: -5px;
}

#header .menu-btn {
    display: none;
}

#header .menu-btn:checked~#menu{
    max-height: 240px;
}

#header .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

#header .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}

#header .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

#header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
#header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
}

@media (min-width: 48em) {
    #header li {
        float: left;
    }

    #header li a {
        padding: 30px 30px;
    }

    #header #menu{
        clear: none;
        float: right;
        max-height: none;
    }

    #header .menu-icon {
        display: none;
    }
}


#hold {
    height: 81px;
    width: 100%;
}

#main-t1 {
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 7%;
}

html {
    box-sizing: border-box;
}

#row {
    text-align: center;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.column {
    text-align: center;
    display: inline-block;
    width: 30%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.card {
    margin: 8px;
}

.card2 {
    margin: 8px;
    margin-bottom: 100px;
}

.container {
    padding: 0 16px;
    text-align: center;
}

.container::after,
#row::after {
    content: "";
    clear: both;
    display: table;
}

@media screen and (max-width: 48em) {
    .column {
        width: 100%;
        display: block;
    }
}

.container-t1{
    font-size: 22px;
    font-weight: bold;
    padding: 20px 10px;

}

.container-t2{
    padding: 20px 10px;
    font-size: 18px;
}

#waves {
    position: fixed;
    bottom: 0;
    right: 0;
}